@model SaigonRide.Models.Entities.Station

<div class="container mt-4">
    <h4>Add New Station</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label class="form-label">Station Name</label>
                    <input asp-for="Name" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Location</label>
                    <input asp-for="Location" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Max Capacity</label>
                    <input asp-for="MaxCapacity" type="number" class="form-control" required />
                </div>
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label text-dark">Latitude</label>
                        <input asp-for="Latitude" type="number" step="any" class="form-control border-dark" placeholder="ex: 10.7769" required />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="form-label text-dark">Longitude</label>
                        <input asp-for="Longitude" type="number" step="any" class="form-control border-dark" placeholder="ex: 106.7009" required />
                    </div>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary align-middle px-4" ">
                        <i class="bi bi-save me-2"></i> Save Station
                    </button>
    
                    <a href="https://www.google.com/maps" class="btn btn-primary align-middle px-4" ">
                        <i class="bi bi-geo-alt-fill me-2"></i> Find Coordinate
                    </a>
    
                    <a asp-action="Index" class="btn btn-primary align-middle px-4">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>